<%- include('../partials/header'); %>


<div class="container"> 
  <header class="jumbotron mt-4">
    <div class="container">
      <h1>Welcome To The CampGround!</h1>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-md"> Add New  CampGround </a>
      </p>
    </div>
  </header>

  <div class="row text-center " >
     <% campgrounds.forEach(function(campground){ %>
	 <div class="col-md-3 col-sm-6">
	     <div class="card-group mt-3">
	          <div class="card" id="crd">
                  <img src="<%= campground.image %>" class="img-thumbnail">
                  <h4> <%= campground.name %> </h4>
                  <p>
                   <a href="/campgrounds/<%=campground._id %> " class="btn btn-info"> View More</a>
                 </p>
                </div>

         </div>    
     </div>
      <% }) %>
  </div>
</div>
<br>


<%- include('../partials/footer'); %>